<section class="site-content__section">

    <div class="site-content__wrap">

      <h1 class="site-content__section__title">Sponsors</h1>

      <ul class="sponsors__list">

        <li>

          <a href="javascript:void(0):" title="">

            <img src="./assets/images/skaffolder_logo-nero.svg" alt="Skaffolder">

          </a>

        </li>

        <li>

          <a href="javascript:void(0):" title="">

              <img alt="ConTe.it logo" src="./assets/images/conte.svg">

          </a>

        </li>

        <li>

          <a href="javascript:void(0):" title="">

            <img src="images/microsoft.png" alt="Microsoft">

          </a>

        </li>

        <li>

          <a href="javascript:void(0):" title="">

            <img src="images/conte.it.png" alt="Conte.it">

          </a>

        </li>

        <li>

          <a href="javascript:void(0):" title="">

            <img src="images/google.png" alt="Google">

          </a>

        </li>

        <li>

          <a href="javascript:void(0):" title="">

            <img src="images/skaffolder.png" alt="Skaffolder">

          </a>

        </li>

        <li>

          <a href="javascript:void(0):" title="">

            <img src="images/microsoft.png" alt="Microsoft">

          </a>

        </li>

        <li>

          <a href="javascript:void(0):" title="">

            <img src="images/conte.it.png" alt="Conte.it">

          </a>

        </li>

      </ul>

    </div>

  </section>
