<div class="featured">
  <p class="labelBig">Main Sponsors</p>
</div>
<div class="container">
  <div class="row middle-xs">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">
        <div class="box">
          <a href="https://www.skaffolder.com" target="_blank">
            <img alt="skaffolder logo" src="./assets/images/skaffolder_logo-nero.svg">
          </a>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
      <div class="box">
        <a id="cfp-candidate-now" href="mailto:angularroma@gmail.com" class="button blue">
          Become a sponsor
        </a>
      </div>
    </div>
  </div>

  <div class="row middle-xs">
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-2">
        <div class="box">
          <a href="https://www.meetup.com/it-IT/GDG-Roma/" target="_blank">
            <img alt="Google Developer Group Roma" src="./assets/images/gdg-roma.png">
          </a>
        </div>
    </div>
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-2">
      <div class="box">
        <a href="https://www.meetup.com/GDG-Bari/" target="_blank">
          <img alt="Google Developer Group Bari" src="./assets/images/gdg-bari.png">
        </a>
      </div>
    </div>
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-2">
      <div class="box">
          <a href="https://www.gdgvda.it" target="_blank">
            <img alt="Google Developer Group Valle d'Aosta" src="./assets/images/gdg-vda.png">
          </a>
      </div>
    </div>
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-2">
      <div class="box">
          <a href="https://twitter.com/AngularVienna" target="_blank">
            <img alt="Angular Vienna" src="./assets/images/ng-vienna.jpg">
          </a>
      </div>
    </div>
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-2">
      <div class="box">
          <a href="https://twitter.com/angularrome" target="_blank">
            <img alt="Angular Roma" src="./assets/images/ng-rome.png">
          </a>
      </div>
    </div>
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-2">
      <div class="box">
          <a href="https://twitter.com/angularsf" target="_blank">
            <img alt="Angular S. Francisco" src="./assets/images/ng-sf.jpg">
          </a>
      </div>
    </div>
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-2">
      <div class="box">
          <a href="https://twitter.com/swissangular" target="_blank">
            <img alt="Swiss Angular" src="./assets/images/swiss-angular.png">
          </a>
      </div>
    </div>
  </div>
</div>
