<section id="intro" class="site-content__section">

  <div class="site-content__wrap">

    <div class="site-content__intro">

      <header class="site-content__intro__head">

        <h1 class="site-content__intro__title">For the first time ever, the biggest <strong>Italian Angular Conference</strong> is taking place at <strong>NG Rome MMXIX</strong> this year on <strong>October 7th</strong> at the Teatro Manzoni in <strong>Rome, Italy.</strong></h1>

        <a class="button" id="go-to-tickets" (click)="scrollTo('tickets', 300)" title="Get Ticket Now">

          <span id="go-to-tickets-text">Get Ticket Now</span>

          <svg width="11" height="12" id="go-to-tickets-svg">

            <path fill="none" fill-rule="evenodd" stroke="#0086FF" stroke-width="2" d="M1 1l7.358 5L1 11"/>

          </svg>

        </a>

        <span class="site-content__intro__scroller"></span>

      </header>

      <div class="site-content__intro__info">

        <p>We will have sessions about the latest version of Angular and related technologies. Whether you are a beginner, intermediate, or expert, this will be the best opportunity to learn about the last trends in the Angular world.</p>

        <p>And in case you are wondering, we expect the following topics to be covered at our event: Blockchain, GraphQL, Machine Learning, NgRx, New Angular features, Progressive Web Apps, RxJs, Testing, Web Performance, etc.</p>

        <p>9 hours of news and tips about Angular and the possibility to share ideas and meet top developers.</p>

      </div>

    </div>

  </div>

</section>
