<div class="row middle-xs">
    <div class="col-xs-12 col-sm-4">
        <div class="box">
            <img src="./assets/images/skaffolder_logo-nero.svg">
        </div>
    </div>
    <div class="col-xs-12 col-sm-8">
      <div class="box">
          Skaffolder introduces a new approach to software development that allows companies to increase their efficiency and save up to 30% of development time and costs.
          Skaffolder is a source code generator, it is able to create a working  web app in many programming languages starting both from a visual interface or from command-line.
          Unlike other code generators, our product generates code easy to understand, to customize and to maintain.
          For developers and companies that want to work less and deliver more!
      </div>
    </div>
  </div>
  <div class="row middle-xs">
      <div class="col-xs-12 col-sm-4">
          <div class="box">
              <img src="./assets/images/conte.svg">
          </div>
      </div>
      <div class="col-xs-12 col-sm-8">
        <div class="box">

        </div>
      </div>
    </div>
