<div class="row middle-xs">
    <div class="col-xs-12 col-sm-4">
        <div class="box">
            <img src="./assets/images/skaffolder_logo-nero.svg">
        </div>
    </div>
    <div class="col-xs-12 col-sm-8">
      <div class="box">
          Multilanguage code generator, with customizable templates<br>
          <b>High quality source code</b>
          Skaffolder provides you with a clean, well commented and easily customizable code, just like the one you would have wasted your time writing.
          <br>
          <b>Multilanguage</b>
          We provide a huge variety of programming languages you can choose from. Still can't find your favourite one? You can implement your template yourself!
          <br>
          <b>Define your web app visually</b>
          With Skaffolder you can define data model, APIs and pages of your web application, saying goodbye to unwanted bugs and time waste.
          <br>
          <b>Collaboration tool</b>
          You can share technical documentation and guidelines among your team, create your custom template and reuse it for each project.
      </div>
    </div>
  </div>
  <div class="row middle-xs">
      <div class="col-xs-12 col-sm-4">
          <div class="box">
              <img src="./assets/images/conte.svg">
          </div>
      </div>
      <div class="col-xs-12 col-sm-8">
        <div class="box">

        </div>
      </div>
    </div>
