<div class="site-content">

    <h1>About</h1>
    <div class="">&nbsp;</div>

    <h3>Code Of Conduct</h3>
    <p>Team prides itself on being an open, respectful, and inclusive community. That means jerky behavior isn’t allowed at ngVikings meetings. Because we know that it’s not obvious to everyone, here’s a reminder of the things we don’t allow: jokes or offensive comments about sex/sexuality/race/religion/nationality/body size, showing porn in public, touching people uninvited, or continuing to interact with someone after they’ve asked you to stop. Continuous jerky behavior may result in getting expelled from the meeting or ngVikings Team.

        If someone is bothering you, please tell ngVikings Team immediately and they will take care of it. We want to maintain ngVikings’s awesomeness.</p>

    <h3>The team</h3>
    Luciano
    Marco
    Lorenzo
    Luca
    Mauro
    Michele

</div>
