<section id="intro" class="site-content__section">
  <div class="site-content__wrap">
    <div class="site-content__intro">
      <header class="site-content__intro__head__inner-sub">
        <h1 class="site-content__intro__title-sub">Your Ticket</h1>
      </header>
      <div class="site-content__intro__info__inner">
        <p>
          This is a preview of your ticket...
        </p>
        <p><strong>Share</strong> with your friends!</p>
      </div>
      <div class="site-content__intro__info__inner">

        <img src="https://vercel-og-nextjs-eta-seven.vercel.app/api/og?firstname={{selectedFirstname}}&lastname={{selectedLastname}}" />

      </div> <!-- inner -->
    </div>
  </div>
</section>
