<div class="site-content">
  <div class="featured">
    <p class="labelBig">Info</p>
  </div>

    <h1>Teatro Italia, Roma</h1>
    <p>Via Bari, 18, 00161 Roma</p>
    <div class="">&nbsp;</div>

    <h3>400+ Attendee</h3>
    <h3>1 Days</h3>
    <h3>14 Session</h3>
    <h3>1 Track</h3>
    <div class="">&nbsp;</div>


    <p>Info about the conference....</p>
    <div class="">&nbsp;</div>
    <h3>Maps</h3>

    <div class="">&nbsp;</div>

    <div class="featured">
      <p class="labelBig">Transport</p>
    </div>

      <div class="container">
        <div class="row middle-xs">
          <div class="col-xs-12 col-sm-6">
              <div class="box">
                  <h3>By Train</h3>
                  ...
              </div>
          </div>
          <div class="col-xs-12 col-sm-6">
            <div class="box">
                <h3>By Underground</h3>
                  ...
            </div>
          </div>
          <div class="col-xs-12 col-sm-6">
            <div class="box">
                <h3>By Car</h3>
                  ...
            </div>
          </div>
          <div class="col-xs-12 col-sm-6">
            <div class="box">
                <h3>By Air</h3>
                  ...
            </div>
          </div>
        </div>
      </div>


</div>
