<section id="intro" class="site-content__section">
  <div class="site-content__wrap">
    <div class="site-content__intro">
      <header class="site-content__intro__head__inner">
        <h1 class="site-content__intro__title">Infos</h1>
      </header>
      <div class="site-content__intro__info__inner">
        <p> Here you can find all the information about the biggest <strong>Angular</strong> conference in Rome, venue, accommodation and much more... </p>
      </div>
    </div>
  </div>
</section>

<section class="site-content__section">
  <div class="site-content__wrap">
    <div class="site-content__description">
      <h1>When</h1>
      <p>October 24th 2020</p>
      <!-- a class="button" href="https://calendar.google.com/event?action=TEMPLATE&amp;tmeid=XzZ0bG5hcXJsZTVwNmNwYjRkaG1qNHBocGVocTc4cmhoZDRvbWVyamplMWlqOHE5a2VsajY2b3BvZDlqbjhxcmU2cG02dXJyMWNwaW4yb3I5NzFpN2FkYjI2NWluY3Jqa2Rrb25jZWI4Y3BrajAgYW5ndWxhcnJvbWFAbQ&amp;tmsrc=angularroma%40gmail.com"
        target="_blank"
        rel="noopener"
        title="Add to calendar">
        <span id="go-to-tickets-text">Add to your calendar</span>
        <svg width="11" height="12">
          <path fill="none" fill-rule="evenodd" stroke="#0086FF"
          stroke-width="2" d="M1 1l7.358 5L1 11"/>
        </svg>
      </a -->
    </div>
  </div>
</section>

<section class="site-content__section">
  <div class="site-content__wrap">

    <div class="site-content__description">
        <h1>Where</h1>
        <p>We are working to find the best solution for NG ROME MMXX</p>
      </div>
      <!-- <p>TEATRO ITALIA<br>
        Via Bari, 18 - Roma.
      </p>

    <div class="site-content__intro__description">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2969.173037741984!2d12.512820750404616!3d41.91063877125543!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x132f617119ab6277%3A0xf62a6b3f006b5083!2sTeatro+Italia!5e0!3m2!1sit!2sit!4v1561300889783!5m2!1sit!2sit" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div> -->
  </div>
</section>

<section class="site-content__section">
  <div class="site-content__wrap">
    <!-- <div class="site-content__description">
      <h1>Accommodation</h1>
    </div>
    <div class="site-content__description info">

      <div class="info__image">
        <img src="./assets/images/hotels.com.png">
      </div>
      <div class="info__text">
        <strong>Hotels.com</strong> give us a <strong>10% of discount</strong> for accommodation near Teatro Italia.<br>
        Use the promo code <span class="red">HCOMAGILE</span> at checkout.<br>

        <a class="read__more"
        (click)="openModal('ngrome-hotels-terms')"
        title="Hotels.com Terms & Condition">Read terms and condition</a>
        <br>

        <a class="button" href="https://it.hotels.com/de1750353/hotel-in-zona-piazza-bologna-roma-italia/"
          target="_blank"
          rel="noopener"
          title="Add to calendar">
            <span id="go-to-tickets-text">Book Now</span>
            <svg width="11" height="12">
              <path fill="none" fill-rule="evenodd" stroke="#0086FF"
              stroke-width="2" d="M1 1l7.358 5L1 11"/>
            </svg>
          </a>

      </div>
    </div> -->
  </div>
</section>


<!-- <ngrome-tickets class="site-content__section" id="tickets"></ngrome-tickets> -->

<ngrome-modal id="ngrome-hotels-terms">
    <input type="image"
    width="20"
    src="./assets/icons/error.svg"
    class="close"
    (click)="closeModal('ngrome-hotels-terms')" />
    <ngrome-hotels-terms></ngrome-hotels-terms>
  </ngrome-modal>
