<header class="site-header" role="banner">
  <div class="site-logo">
    <div class="logo">
      <a [routerLink]="['/']" routerLinkActive="router-link-active" title="Go to NGRome Homepage">
        <img src="assets/logo/logo-horizontal.svg" />
      </a>
    </div>
    <div class="cta">
      <a
        class="button button--green button--fill-green"
        rel="noopener"
        target="_blank"
        href="https://ti.to/ngrome-conf/ngrome-conf-mmxxi-online-9th-july-2021"
        title="Go to Tickets Page"
        >Get
        <img src="assets/icons/site-icons/tickets.svg" />
      </a>
    </div>
    <div class="site-menu-button">
      <button
        (click)="sidebarService.toggleSidebarStatus()"
        alt="Toggle NGRome Menu"
        class="site-menu--open"
        type="button"
        name="button"
      >
        <img src="assets/icons/site-icons/hamburger.svg" />
      </button>
    </div>
  </div>

  <nav class="site-menu" role="navigation" #sitemenu>
    <ngrome-menu (toggleSidebar)="sidebarService.toggleSidebarStatus()"></ngrome-menu>
  </nav>
</header>
