<div class="header">
  <div class="logo">
    <a [routerLink]="['/']" routerLinkActive="router-link-active"  title="NG-Rome">
      <img src="./assets/logo/logo-white.svg">
    </a>
  </div>
  <div class="menu">
    <button (click)="sidebarService.toggleSidebarStatus()" class="site-menu--open" type="button" name="button">

      <svg width="28" height="19">

        <g fill="none" fill-rule="evenodd">
          <path d="M-6-11h40v40H-6z"/>
          <path fill="#FFF" d="M0 8h28v3H0zM0 16h21v3H0zM0 0h21v3H0z"/>
        </g>

      </svg>

    </button>
  </div>
</div>
<!-- details -->
<div class="details-wrap">
  <div class="details">
    <div class="details__item details__item--close" data-direction="ttb">
      <div class="details__inner details__inner--grid">
        <div></div>
        <div></div>
        <div>
          <button (click)="sidebarService.toggleSidebarStatus()"
              class="site-menu--close" type="button"
              name="site menu close"
              aria-label="Close Menu">

            <svg width="21" height="21">

              <g fill="#FFF" fill-rule="evenodd">
                <path d="M.368 18.717L18.753.332l1.414 1.415L1.782 20.13z"/>
                <path d="M1.782.869l18.385 18.384-1.414 1.415L.368 2.283z"/>
              </g>

            </svg>

          </button>
        </div>
      </div>
    </div>
    <div class="details__item details__item-spacebottom" data-direction="ttb">
        <div class="details__inner details__inner--grid">
          <div></div>
        </div>
    </div>
    <div class="details__item details__item-spacetop" data-direction="rtl">
      <div class="details__inner details__inner--grid">
        <div></div>
      </div>
    </div>

    <div class="details__item details__item--spaceaddtocart" data-direction="ttb">
      <div class="details__inner details__inner--grid details__inner--ticket">
        <div></div>
      </div>
    </div>
    <div class="details__item details__item--addtocart" data-direction="ttb">
      <div class="details__inner details__inner--grid details__inner--ticket">
          <div class="site-menu__info">

              <p>October 7th, 2019 Teatro Italia, Rome Italy</p><br>

              <a class="button button--white"
                rel="noopener"
                target="_blank"
                href="https://www.eventbrite.it/e/ng-rome-mmxix-angular-conference-tickets-54968197358" title="Get Ticket">

                <svg width="20" height="14">

                  <g fill="none" fill-rule="evenodd" stroke="#EE0C3E" stroke-width="2">
                    <path d="M18.422 9.819c-1.12-.422-1.91-1.53-1.91-2.819s.79-2.397 1.91-2.819V1H1.312v3.181c1.119.422 1.91 1.53 1.91 2.819s-.791 2.397-1.91 2.819V13h17.11V9.819zM7 1.462V13"/>
                  </g>

                </svg>

                Get Ticket

              </a>

            </div>
      </div>
    </div>
    <div class="details__item details__item-logo" data-direction="rtl">
      <div class="details__inner details__inner--grid details__inner--logo">
        <div>
          <img src="./assets/logo/logo-mmxix-white.svg">
        </div>
        <div></div>
        <div></div>
      </div>
    </div>
    <div class="details__item details__item-menu" data-direction="rtl">
      <div class="details__inner details__inner--grid details__inner--menu">
        <nav class="site-menu">
        <ul class="site-menu__nav">
            <li>
              <a routerLink="/speakers" title="Speaker">

                <svg width="18" height="25">

                  <g fill="none" fill-rule="evenodd" stroke="#FFF" stroke-width="2" transform="translate(-4 -.5)">
                    <path d="M21 9v2.857C21 15.802 17.744 19 13.727 19h-1.454C8.256 19 5 15.802 5 11.857V9"/>
                    <rect width="8" height="13" x="9" y="2" rx="4"/>
                    <path stroke-linecap="square" d="M13 20v4M16.943 24H9"/>
                  </g>

                </svg>

                Speaker

              </a>
            </li>
            <li>
              <a [routerLink]="['/sponsors']" routerLinkActive="router-link-active"  title="Sponsors">

                <svg width="20" height="21">

                  <path fill="none" fill-rule="evenodd" stroke="#FFF" stroke-width="2" d="M1 20.5v-17a2 2 0 0 1 2-2h14l-3.068 4.35L17 9.5H4"/>

                </svg>

                Sponsors

              </a>
            </li>
            <li>
              <a href="javascript:void(0);" title="Agenda">

                <svg width="20" height="21">

                  <g fill="none" fill-rule="evenodd" stroke="#FFF" stroke-width="2" transform="translate(-3 -2.5)">
                    <rect width="16" height="18" x="6" y="4" rx="2"/>
                    <path stroke-linecap="square" d="M5.786 9H4M5.786 17H4M10 4v18"/>
                  </g>

                </svg>

                Agenda

              </a>
            </li>
            <li>
                <a href="javascript:void(0);" title="Workshop">

                  <svg width="24" height="18">

                    <g id="Home" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                      <g id="Menu" transform="translate(-783.000000, -617.000000)" stroke="#FFFFFF" stroke-width="2">
                          <g id="Group-20-Copy" transform="translate(782.000000, 0.000000)">
                              <g id="S/Icons/Computer/white-Copy" transform="translate(0.000000, 614.000000)">
                                  <path d="M4,15 L22,15 L22,5 C22,4.44771525 21.5522847,4 21,4 L5,4 C4.44771525,4 4,4.44771525 4,5 L4,15 Z" id="Rectangle"></path>
                                  <path d="M3.55800376,15 L2.06464946,18.6185123 C2.01471792,18.7395003 1.98902339,18.8691136 1.98902339,19 C1.98902339,19.5522847 2.43673864,20 2.98902339,20 L23.0255734,20 C23.1549356,20 23.2830689,19.9749003 23.4028703,19.9260924 C23.9143369,19.717717 24.160041,19.1341698 23.9516657,18.6227031 L22.4757496,15 L3.55800376,15 Z" id="Rectangle-Copy"></path>
                              </g>
                          </g>
                      </g>
                    </g>

                  </svg>

                  Workshop

                </a>
              </li>
            <li>
              <a [routerLink]="['/about']" routerLinkActive="router-link-active"  title="About">

                <svg width="20" height="23">

                  <g fill="none" fill-rule="evenodd" stroke="#FFF" stroke-width="2">
                    <path d="M0 1.5h20M6 5.5h8M6 9.5h4M0 14.5h20M3 2.1v11.4M17 2.1v11.4M8 17.5l-2.5 4.583M12 17.5l2.5 4.583M10 17.5V22"/>
                  </g>

                </svg>

                About

              </a>
            </li>
            <li>
              <a [routerLink]="['/info']" routerLinkActive="router-link-active"  title="Info">

                <svg width="22" height="21">

                  <g fill="none" fill-rule="evenodd" stroke="#FFF" stroke-width="2">
                    <path d="M20.016 4.47l-6.005-2.862-7.006 3.34L1 2.083v14.451l6.005 2.863 7.006-3.34 6.005 2.863V4.471zM7 5v14.878M14 2.031V17.84"/>
                  </g>

                </svg>

                Info

              </a>
            </li>
            <!-- <li class="newsroom">
              <a href="javascript:void(0);" title="Newsroom">

                <svg width="20" height="18">

                  <g fill="none" fill-rule="evenodd" stroke="#FFF" stroke-width="2">
                    <path d="M5 7.5H1v7a2 2 0 1 0 4 0v-7z"/>
                    <path d="M4.11 16.5H17a2 2 0 0 0 2-2v-13H5v6.403l-.005.104L4.11 16.5zM8 6.5h8M8 10.5h5"/>
                  </g>

                </svg>

                Newsroom

              </a>
            </li> -->
          </ul>
        </nav>
      </div>
    </div>

  </div><!-- /details -->
</div>
