@import
  '../../../scss/variables/palette',
  '../../../scss/variables/devices',
  '../../../scss/variables/typeface';

@import
  '../../../scss/mixins/clearfix',
  '../../../scss/mixins/antialias',
  '../../../scss/mixins/assistive',
  '../../../scss/mixins/breakpoint';



.header{

  width: 120px;
  height: 70px;
  position: fixed;
  top: 0;
  right: 0;
  background-color: $ribbon;
  z-index: 10;
  .logo{
    width: 50%;
    float: left;
    padding: 14px 15px;
    img{
      width: 40px;
    }
  }
  .menu{
    width: 50%;
    float: right;
    padding: 16px 10px
  }

  @include breakpoint-m {
    width: 180px;
    height: 100px;
    position: fixed;
    top: 0;
    right: 0;
    background-color: $ribbon;
    z-index: 10;
    .logo{
      width: 45%;
      float: left;
      padding: 17px 25px;
      img{
        width: 56px;
      }
    }
    .menu{
      width: 45%;
      float: right;
      padding: 28px 20px
    }
  }
}

.details-wrap {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  pointer-events: none;
  z-index: 10000;

  &--open{
    display: block;
	  pointer-events: auto;
  }
}

.details {
  width: 90%;
  grid-template-columns: 8rem 8rem;
  grid-template-rows: 80px 80px 80px 80px;

  grid-template-rows: 15vh 15vh 15vh 15vh;

	position: fixed;
	top: 0;
	right: 0;
	display: grid;
	grid-auto-rows: 80px;
	overflow: hidden;
}


.details__item {
  overflow: hidden;
  border:1px;
}

.details__item--addtocart {
	grid-row: 4;
}

.details__item-img {
  display: block;
  grid-area: 1 / 3 / 2 / 4;
  max-width: 100%;
}
.details__item-sizes {
  grid-area: 1 / 2 / 2 / 3;
}
.details__item-logo {
  grid-area: 1 / 1 / 3 / 3;
}
.details__item-spacetop{
  display: none;
  grid-area: 1 / 3 / 3 / 4;
}
.details__item-spacebottom{
  grid-area: 2 / 3 / 2 / 5;
}

.details__item-menu {
  grid-area: 3 / 1 / 7 / 5;
  @include breakpoint-m {

    grid-area: 3 / 1 / 9 / 5;

  }
}



.details__item--addtocart {
  display: none;
  grid-area: 3 / 3 / 7 / 5;
}
.details__item--close {
  grid-area: 2 / 3 / 1 / 5;
}

.details__inner {
	width: 100%;
	height: 100%;
	background: $ribbon;
	display: flex;
	align-items: baseline;
	justify-content: space-around;
  transform: translate3d(100%,0,0);
  .action--close{
    padding: 0 0 0 10px;
  }
}

.details__item-img {
	display: none;
}

.details__size {
	position: relative;
	cursor: pointer;
}

.details__size--selected::before {
	content: '';
	position: absolute;
	width: 2rem;
	height: 2rem;
	top: 50%;
	left: 50%;
	margin: -1rem 0 0 -1rem;
	border: 2px solid #333;
	border-radius: 50%;
}

.details__inner--logo {
	background: $ribbon;
	color: #fff;
  font-size: 1.25rem;
  align-items: left;
  img{
    width: 104px;
  }
}

.details__inner--menu,
.details__inner--ticket,
.details__item-menu {
  align-items: flex-end;

}

.details__inner--grid {
	display: grid;
	padding: 1rem 2rem;
  grid-template-columns: repeat(6,1fr);
}

.details__inner--ticket{
  color: $white;
  div{
    width: 215px;
    padding-bottom: 25px;
  }
}


@include breakpoint-m {

	.details-wrap {
		position: absolute;
		top: 0;
		right: 0;
		pointer-events: none;
	}
	.details {
		width: auto;
		grid-template-columns: 11rem 10rem 11rem 11rem;
		grid-template-rows: 16vh 16vh 16vh 16vh;
  }
  .details__inner--logo {
    img{
      width: 144px;
    }
  }
	.details__item-img {
		display: block;
		grid-area: 1 / 3 / 2 / 4;
		max-width: 100%;
	}
	.details__item-sizes {
		grid-area: 1 / 2 / 2 / 3;
	}
	.details__item-logo {
		grid-area: 1 / 1 / 3 / 3;
  }
  .details__item-spacetop{
    display: block;
    grid-area: 1 / 3 / 3 / 4;
  }
  .details__item-spacebottom{
    display: block;
    grid-area: 2 / 4 / 2 / 5;
  }
	.details__item-menu {
		grid-area: 3 / 1 / 8 / 3;
	}
	.details__item--addtocart {
    display: block;
		grid-area: 3 / 3 / 8 / 5;
	}
	.details__item--close {
		grid-area: 2 / 4 / 1 / 5;
	}
	.details__inner--grid {
		grid-template-columns: repeat(3,1.5rem);
	}
	.action--details {
		top: calc(6rem + 10vh);
		right: 4rem;
		left: auto;
		background: none;
		color: inherit;
		width: auto;
		padding: 0;
	}
	.action--details:hover {
		color: var(--color-details-hover);
	}
}
