<section class="site-content__section">
  <div class="site-content__wrap">
    <h1 class="site-content__section__title">Featured Speakers</h1>

    <div class="speakers__list">
      <ngrome-speaker-bio
        class="speaker"
        *ngFor="let speaker of speakerService.getSpeakers(speakerFilter);"
        [speaker]="speaker"
      >
      </ngrome-speaker-bio>

      <a class="button" id="go-to-tickets" routerLink="/speakers" routerLinkActive="router-link-active"  title="Get Ticket Now">

          <span id="go-to-tickets-text">more speaker</span>

          <svg width="11" height="12" id="go-to-tickets-svg">

            <path fill="none" fill-rule="evenodd" stroke="#0086FF" stroke-width="2" d="M1 1l7.358 5L1 11"/>

          </svg>

        </a>
    </div>

    <aside class="speakers__list__more" role="complementary">



      <h1>More Speaker TBA</h1>

      <p>
        We will announce more speaker soon. <br>Stay tuned!
      </p>
    </aside>

  </div>
</section>
