<div class="site-content">
  <div class="featured">
    <p class="labelBig">Became Sponsors</p>
  </div>

    <div>&nbsp;</div>
    <h1>Sponsors make NGRome possible!</h1>
    <div class="">
      <p>NG-Rome is the first International Angular Conference in Italy, we helping bring together ideas and developer from far-flung corners of Europe. We want to connect the local Italian Javascript and Angular community with the global community, and there’s no better way to do that then an Angular Conference in Rome.
      <br>There are a variety of sponsorship packages available for small and large companies alike!
      With this being our inaugural year, and over 400 developers from around the world attending, sponsoring the conference is one of the best ways to connect with an incredible community of developers.
      </p>
      </div>
    <div>&nbsp;</div>
    Became a sponsor!
    <div>&nbsp;</div>

    <div class="featured">
      <p class="labelBig">Our Sponsors</p>
    </div>
    <div>&nbsp;</div>

    <ngrome-sponsor-detail-list></ngrome-sponsor-detail-list>
    <div>&nbsp;</div>
    <h3>Community</h3>
    <div>&nbsp;</div>
</div>
