<div class="full-bg">
  <div class="site-content">

    <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-2 col-lg-2">
        <div class="box microphone">
          <img src="./assets/icons/microphone.svg" alt="CFP Microphone">
        </div>
      </div>
      <div class="col-xs-12 col-sm-8 col-md-9 col-lg-10">
        <div class="box">
          <h2>Interested in being a speaker?</h2>
          <p class="white">Be one of the heroes of the day and sent us your paper including details and motivations.
            <br>Candidacy will be open until April 18th. </p><br>
          <p>
            <a id="cfp-candidate-now" href="https://goo.gl/forms/oWAbHxQpewphppdY2" target="_blank" class="button white">
              Candidate now
            </a>
          </p>
        </div>
      </div>
    </div>

  </div>
</div>
