<div class="full-bg">
  <div class="site-content">

    <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
        <div class="box text-center microphone">
          <img src="./assets/icons/microphone.svg">
        </div>
      </div>
      <div class="col-xs-12 col-sm-8 col-md-9 col-lg-10">
        <div class="box">
          <h2>Interested in being a speaker?</h2>
          <p>&nbsp;</p>
          <p>
            <a href="#" class="button white">
              <div>Candidate now <img src="data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><polyline fill='none' stroke='#FFFFFF' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' points='0.375,0.375 8.63,7 0.375,14'/></svg>" alt=""></div>
            </a>
          </p>
        </div>
      </div>
    </div>

  </div>
</div>
