<section>

  <div class="site-content__wrap">

    <h1 class="site-content__section__title">Partners</h1>

    <ul class="sponsors__list">

      <li>

        <a href="javascript:void(0):" title="GDG Roma">

          <img src="./assets/images/gdg-roma.png" alt="GDG Roma">

        </a>

      </li>

      <li>

        <a href="javascript:void(0):" title="GDG Valle d'Aosta">

            <img alt="GDG Valle d'Aosta" src="./assets/images/gdg-vda.png">

        </a>

      </li>

      <li>

        <a href="javascript:void(0):" title="GDG Bari">

          <img alt="GDG Bari" src="./assets/images/gdg-bari.png">

        </a>

      </li>

      <li>

        <a href="javascript:void(0):" title="Angular Vienna">

          <img alt="Angular Vienna" src="./assets/images/ng-vienna.png">

        </a>

      </li>

      <li>

        <a href="javascript:void(0):" title="">

          <img alt="Angular Roma" src="./assets/images/ng-rome.png">

        </a>

      </li>

      <li>

        <a href="javascript:void(0):" title="">

          <img alt="Angular S. Francisco" src="./assets/images/ng-sf.jpg">

        </a>

      </li>


    </ul>

  </div>

</section>
