<section>

  <div class="site-content__wrap">

    <h1 class="site-content__section__title">Partners</h1>

    <ul class="sponsors__list">

      <li>

        <a href="https://www.meetup.com/it-IT/GDG-Roma/" target="_blank" title="GDG Roma">

          <img src="./assets/images/gdg-roma.png" alt="GDG Roma">

        </a>

      </li>

      <li>

        <a href="https://www.gdgvda.it/" target="_blank" title="GDG Valle d'Aosta">

            <img alt="GDG Valle d'Aosta" src="./assets/images/gdg-vda.png">

        </a>

      </li>

      <li>

        <a href="https://www.meetup.com/GDG-Bari/" target="_blank" title="GDG Bari">

          <img alt="GDG Bari" src="./assets/images/gdg-bari.png">

        </a>

      </li>

      <li>

        <a href="https://twitter.com/AngularVienna" target="_blank" title="Angular Vienna">

          <img alt="Angular Vienna" src="./assets/images/ng-vienna.png">

        </a>

      </li>

      <li>

        <a href="https://twitter.com/angularrome" target="_blank" title="Angular Roma">

          <img alt="Angular Roma" src="./assets/images/ng-rome.png">

        </a>

      </li>

      <li>

        <a href="https://twitter.com/angularsf" target="_blank" title="Angular S. Francisco">

          <img alt="Angular S. Francisco" src="./assets/images/ng-sf.jpg">

        </a>

      </li>

      <li>

        <a href="https://twitter.com/swissangular" target="_blank" title="">

          <img alt="Swiss Angular" src="./assets/images/swiss-angular.jpg">

        </a>

      </li>

    </ul>

  </div>

</section>
