<div class="site-content">

    <h3>Info</h3>
    <h1>Teatro Manzoni, Roma</h1>
    <p>Via Monte Zebio, 14, 00195 Roma RM</p>
    <div class="">&nbsp;</div>

    <h3>400+ Attendee</h3>
    <h3>1 Days</h3>
    <h3>14 Session</h3>
    <h3>1 Track</h3>
    <div class="">&nbsp;</div>

    <p>Info about the conference....</p>
    <div class="">&nbsp;</div>
    <h3>Maps</h3>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2968.8434551091145!2d12.462582715442352!3d41.917723879219096!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x132f60f24d6ae4c1%3A0x353eb27a44e4e819!2sTeatro+Manzoni!5e0!3m2!1sit!2sit!4v1547741751717" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    <div class="">&nbsp;</div>

      <div class="container">
        <div class="row middle-xs">
          <div class="col-xs-12 col-sm-6">
              <div class="box">
                  <h3>By Train</h3>
                  ...
              </div>
          </div>
          <div class="col-xs-12 col-sm-6">
            <div class="box">
                <h3>By Underground</h3>
                  ...
            </div>
          </div>
          <div class="col-xs-12 col-sm-6">
            <div class="box">
                <h3>By Car</h3>
                  ...
            </div>
          </div>
          <div class="col-xs-12 col-sm-6">
            <div class="box">
                <h3>By Air</h3>
                  ...
            </div>
          </div>
        </div>
      </div>


</div>
