<section id="intro" class="site-content__section">
  <div class="site-content__wrap">
    <div class="site-content__intro">
      <header class="site-content__intro__head__inner">
        <h1 class="site-content__intro__title">About NG Rome</h1>
      </header>
      <div class="site-content__intro__info__inner">
        <p>NG-Rome is a not-for-profit community conference run by a team of volunteers.
          We are all active members of the tech community, and run or contribute to various free local meetups, workshops, and education initiatives.
          </p>
      </div>
    </div>
  </div>

  <div class="site-content__wrap">
      <img src="./assets/images/about.jpg">
  </div>
</section>

<section class="site-content__section">
  <div class="site-content__wrap">
    <div class="site-content__description">
      <p>
        NG-Rome is the first biggest Angular international conference in Italy organized by AngularRoma MeetUp group.
The community is born by a group of devs and the passion for the framework. We are javascript lovers and enthusiastic developer that use the Angular framework.
NG-Rome wants to share know-how and want to inspire developer involving the Angular Core team to talk about Angular during the conference.
      </p>


    </div>
  </div>
</section>

<section class="site-content__section">
  <div class="site-content__wrap">
    <div class="site-content__description">
      <h1>Mission & Values</h1>
      <p>

        NG-Rome event is the first International Angular Conference in Italy, helping bring together ideas and developer from all the corner of Italy and Europe.
        We want to connect the local Italian Javascript and Angular community with the global community, and there’s no better way to do that then an Angular Conference in Rome.
        There are a variety of sponsorship packages available for small and large companies alike!
        With this being our inaugural year, and over 300 developers from around the world attending, sponsoring the conference is one of the best ways to connect with an incredible community of developers.

      </p>

    </div>
  </div>
</section>


<!-- section class="site-content__section">
  <div class="site-content__wrap">
    <div class="site-content__description">
      <h1>The Team</h1>


    </div>
  </div>
</section -->





<ngrome-tickets class="site-content__section" id="tickets"></ngrome-tickets>
