<section class="site-content__section">
  <div class="site-content__wrap">
    <h1 class="site-content__section__title">Buy Tickets</h1>

    <ul class="tickets__list">
      <li>
        <div class="site-content">
          <h1 class="site-content__section__title">Very Early Bird</h1>
          <div class="ticket_info">
            <span class="price">€ 68,00</span><br><br>
            <span class="remaining">9/30 sold</span><br>
            <span class="information">Sales ends on March 20th</span>
          </div>
          <div class="ticket-action">
            <button class="button blue">BUY NOW</button>
          </div>
        </div>
      </li>
      <li class="inactive">
        <div class="site-content">
          <h1 class="site-content__section__title">Early Bird</h1>
          <div class="ticket_info">
            <span class="price">€ 98,00</span><br><br>
            <span class="remaining">0/70 sold</span><br>
            <span class="information">Sales starts on March 21th</span>
          </div>
          <div class="ticket-action">

          </div>
        </div>
      </li>
      <li class="inactive">
        <div class="site-content">
          <h1 class="site-content__section__title">Regular</h1>
          <div class="ticket_info">
            <span class="price">Coming soon</span><br><br>
            <span class="remaining">...</span><br>
            <span class="information">...</span>
          </div>

          <div class="ticket-action">

          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
