<article class="speaker">

  <div class="speaker__face">

    <img [src]="speaker.image" alt="{{speaker.name}}">

    <span class="speaker__time">H 14:00</span>

  </div>

  <div class="speaker__info">

    <h2 class="speaker__name">{{speaker.name}}</h2>

    <div class="speaker__job">

      <span>{{speaker.job}}</span>

      <span>{{speaker.company}}</span>

    </div>

    <p class="speaker__desc">{{speaker.description}}</p>

    <a class="read__more" href="javascript:void(0);">Read More</a>

  </div>

</article>
