@import "../../../../scss/variables";
img{
  padding: 0;
  border-radius: 50%;
  &.left{
    float: left;
    padding: 20px 30px 20px 0;
  }
  &.right{
    float: right;
    padding: 20px 0 20px 30px;
  }
}

.labelSmall{
  padding: 10px 0 40px;
  text-transform: uppercase;
}
