<div class="page-main">
  <!-- ngrome-logo></ngrome-logo -->
  <div class="page-side"
    [ngClass]="{'opened': (sidebarService.sidebarStatus$ | async) == 'visible'}"
    >
    <ngrome-sidebar></ngrome-sidebar>
  </div>
  <div class="site-container"
  [@animateContainer]="containerStatus">

    <div class="site-content">
      <ngrome-main-title></ngrome-main-title>
      <!-- ngrome-speakers></ngrome-speakers -->
    </div>

    <ngrome-call-for-paper></ngrome-call-for-paper>
    <div class="site-content">
      <ngrome-sponsors></ngrome-sponsors>
    </div>

    <div class="site-content">
      <ngrome-footer></ngrome-footer>
    </div>
  </div> <!-- end of page-content -->

</div>
