<div class="page-main">
  <div class="menu">
    <div class="logo"><img src="/assets/logo/logo-white.svg"></div>
    <div class="hamburger">
      <input type="image" src="/assets/icons/hamburger.svg"
        (click)="openCloseSidebar()">
    </div>
  </div>
  <!-- ngrome-logo></ngrome-logo -->
  <div class="page-side show"
    [@animateSidebar]="sidebarService.sidebarStatus$ | async">
    <ngrome-sidebar></ngrome-sidebar>
  </div>
  <div class="site-container"
  [@animateContainer]="containerStatus">

    <div class="site-content">
      <ngrome-main-title></ngrome-main-title>
      <ngrome-speakers></ngrome-speakers>
    </div>

  </div> <!-- end of page-content -->
</div>
