<div class="row">
  <div class="col-xs-6">
    <div class="box">
       <a [routerLink]="'/home'">
        <div routerLinkActive="router-link-active"  class="logo"><img alt="logo NGRome sidebar" src="./assets/logo/logo-mmxix-white.svg" /></div>
      </a>
    </div>
  </div>

  <div class="col-xs-6">
    <div class="box">
      <button
        class="hamburger hamburger--elastic"
        [ngClass]="{
          'is-active': (sidebarService.sidebarStatus$ | async) == 'visible'
        }"
        type="button"
        (click)="openCloseSidebar()"
      >
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </button>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-md-6">
    <div class="row middle-xs">
      <div class="col-xs">
        <div class="box"><ngrome-menu></ngrome-menu></div>
      </div>
    </div>
  </div>
  <!-- div class="col-xs-12 col-md-6">
    <div class="row bottom-xs">
      <div class="col-xs-12 signature textBig">
        October 7th, 2019<br />
        Teatro Manzoni, Rome<br />
        Italy
      </div>
      <div class="col-xs-12">
        <a href="#" class="button white">
          <div>Get Ticket <img src="data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><polyline fill='none' stroke='#FFFFFF' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' points='0.375,0.375 8.63,7 0.375,14'/></svg>" alt=""></div>
        </a>
      </div>
    </div>
  </div -->
</div>
