.site-about {
  margin-top: 60px;
  display: flex;
  flex-direction: column;

  &__header h1 {
    font-weight: bold;
    font-size: 80px;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    color: #de0031;
    padding: 20px;
  }

  &__main {
    background-image: url('/assets/images/about-bckg.jpg');
    background-repeat: no-repeat;
    background-position: bottom right;
    height: 150%;
  }

  &__main > p {
    padding: 20px;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 148.6%;
    /* or 53px */
    letter-spacing: -0.02em;
  }

  @media only screen and (min-width: 768px) {
    &__main > p {
      margin-right: 250px;
    }
  }

  &__main > p {
    margin-bottom: 20px;
  }

  &__twitter {
    display: flex;
    justify-content: center;

    &__text {
      padding-left: 50px;
      padding-top: 150px;
      font-style: normal;
      font-weight: bold;
      font-size: 80px;
      line-height: 118.6%;
      /* or 90px */

      letter-spacing: 0.07em;
      text-transform: uppercase;
      color: #dd0031;
    }

    @media only screen and (max-width: 1224px) {
      &__text {
        display: none;
      }
    }
  }

  &__team {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
  }

  &__team h1 {
    font-weight: bold;
    font-size: 37px;
    line-height: 148.6%;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    color: #dd0031;
    text-align: center;
  }

  &__team > div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__team > div > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
  }

  &__team a {
    text-align: center;
    padding-top: 20px;
  }

  &__team img {
    border-radius: 50%;
  }

  &__team span {
    color: #00ae65;
  }
}

@media only screen and (min-width: 768px) {
  .site-about {
    padding-left: 100px;
    padding-top: 100px;
  }
}
