// ------------------------------
// 🔥 Angular Rome Header
// ------------------------------

.site-header {

  position: relative;

}

.site-logo {

  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: $ribbon;
  height: 65px;
  width: 130px;
  @include breakpoint-m {
    width: 186px;
    height: 110px;

  }
  display: flex;
  align-items: center;
  justify-content: space-around;

  svg {

    width: 36px;
    height: 38px;

    @include breakpoint-m {

      width: 56px;
      height: 60px;

    }

  }

  span {

    @include assistive();

  }

}

.site-menu {
  color: white;
  padding: 0;
  //min-width: 280px;
  max-width: 280px;

  @include breakpoint-m {

    min-width: 720px;
    max-width: 720px;
    padding: 20px 0;

  }


  opacity: 1;


  &__logo {

    display: block;

    span {

      @include assistive();

    }

  }

  &__nav {

    font-weight: 700;
    font-size: 17px;

    li {

      opacity: 1;

      + li {

        margin-top: 10px;

        @include breakpoint-m {

          margin-top: 10px;

        }

      }

      a {

        padding-top: 6px;
        padding-bottom: 6px;

        @include breakpoint-m {

          padding-top: 12px;
          padding-bottom: 12px;

        }

        display: flex;
        align-items: center;
        text-transform: uppercase;

        svg {

          margin-right: 20px;

        }

      }

    }

  }

  &__info {

    p {

      @include breakpoint-s {

        display: none;
        visibility: hidden;

      }

    }

  }

  &--open {

    height: 40px;
    width: 40px;
    background-color: transparent;
    border: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;

    // display: none;
    // visibility: hidden;


  }

  &--close {

    position: absolute;
    top: 20px;
    right: 20px;
    height: 40px;
    width: 40px;
    background-color: transparent;
    border: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
    z-index: 2;

    @include breakpoint-m {

      top: 25px;
      right: 28px;

    }

  }

}
