// ------------------------------
// 🔥 Angular Rome Modal (<- Bravo l'ingegnere)
// ------------------------------

ngrome-modal {

  display: none;
  width: 0;
  height: 0;

  .close {

    // float: right;

    // A morte i float (vale anche per gli !important)
    // Ogni qualvolta che uno sviluppatore li trova in un foglio di stile, MUORE.

    position: absolute;
    top: 30px;
    right: 30px;

    // Molto meglio così :)

  }

}

.modal {

  /* modal container fixed across whole screen */
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  /* z-index must be higher than .jw-modal-background */
  z-index: 1000;

  /* enables scrolling for tall modals */
  overflow: auto;

  .modal-body {

    position: relative;
    background: $white;
    margin: 20px auto;
    padding: 20px;

    @include breakpoint-m {

      margin: 40px auto;
      max-width: 750px;
      padding: 35px 25px;

    }

    @include breakpoint-l {

      margin: 60px auto;
      max-width: 1280px;
      padding: 75px 45px;

    }

    .site-content__section__title {

      margin-left: -20px;

    }

    h3 {

      font-family: $font-primary;
      font-weight: 700;
      font-size: 22px;
      margin-bottom: 12px;

      @include breakpoint-m {

        font-size: 32px;

      }

    }

    p {

      font-size: 17px;
      //
      // @include breakpoint-m {
      //
      //   font-size: 21px;
      // }

      line-height: 1.6;
      margin-bottom: 32px;

    }

  }

}

.modal-background {

  /* modal background fixed across whole screen */
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  /* semi-transparent black  */
  background-color: #000;
  opacity: 0.75;

  /* z-index must be below .jw-modal and above everything else  */
  z-index: 900;

}
