// ------------------------------
// 🔥 Angular Rome Sponsors
// ------------------------------

.sponsors__list {

  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  @include breakpoint-l {
    margin-top: 45px;
  }

  li {

    display: flex;
    align-items: center;
    flex: 0 1 50%;

    @include breakpoint-m {
      flex: 0 1 25%;
    }

  }

  a {

    text-align: center;
    display: block;
    width: 100%;
    padding-bottom: 40px;

    @include breakpoint-m {
      padding-bottom: 60px;
    }

    img {

      max-height: 120px;
      max-width: 170px;

      @include breakpoint-s {
        max-height: 70px;
        max-width: 70px;
      }

    }

  }

  .main {

    a {
      img {
        max-height: 220px;
        max-width: 270px;

        @include breakpoint-s {
          width: 100%;
        }
      }
    }

  }

  &--full {
    justify-content: space-between;

    li {

      flex: 0 1 100%;

      @include breakpoint-m {
        flex: 0 1 33%;
      }



      a {

        &.button {
          padding-bottom: 10px;
        }

        img {

          @include breakpoint-s {
            width: 100%;
            max-height: none;
            max-width: none;
          }

          @include breakpoint-m {
            max-height: 190px;
            max-width: 250px;
          }

        }
      }
    }

  }

}

.sponsor-title__main-partners {
  background: #DD0031;
  color: #FFFFFF;
}

.sponsor-title__gold {
  background: linear-gradient(101.85deg, #A47F38 12.42%, #FFED9A 43.02%, #BC814A 88.31%);
  color: #835428;
}

.sponsor-title__platinum {
  background: linear-gradient(101.85deg, #878787 12.42%, #FFFFFF 43.02%, #B4B4B4 88.31%);
  color: #606060;
}

.sponsor-title__silver {
  background: linear-gradient(101.85deg, #E7E7E7 12.42%, #D1D1D1 43.02%, #E7E7E7 88.31%);
  color: #606060;
}
