// ------------------------------
// 🔥 Angular Rome Tickets
// ------------------------------

.tickets__list {
  margin-top: 40px;
  margin-bottom: 60px;

  @include breakpoint-m {
    margin-top: 60px;
    margin-bottom: 80px;
  }

  @include breakpoint-l {
    margin-bottom: 100px;
  }

  @include breakpoint-s {
    overflow-x: scroll;
  }

  width: 100%;
  display: flex;
  box-sizing: content-box;
  -webkit-overflow-scrolling: touch;
  -ms-scroll-snap-points-x: repeat(290px);
  scroll-snap-points-x: repeat(290px);
  -ms-scroll-snap-type: mandatory;
  scroll-snap-type: mandatory;

  &--wrap {
    display: flex;
    overflow-x: visible;
  }
}

.ticket {
  position: relative;
  opacity: 0.2;

  & + & {
    margin-left: 20px;

    @include breakpoint-m {
      margin-left: 40px;
    }
  }

  @include breakpoint-s {
    scroll-snap-align: start;
    min-width: 290px;
  }

  @include breakpoint-m {
    flex: 0 1 33.33333%;
  }

  > a {
    display: block;
    padding: 34px 24px 24px 24px;
    border: 2px solid #161616;
    border-radius: 5px;
  }

  &__title {
    position: relative;
    padding-top: 8px;
    font-weight: 700;
    font-size: 22px;

    @include breakpoint-m {
      margin-top: 10px;
      font-size: 28px;
    }

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 5px;
      width: 60px;
      background-color: $ribbon;
    }
  }

  &__price {
    display: block;
    margin-top: 4px;
    color: $black;
    font-size: 22px;
  }

  &__info {
    margin-top: 16px;
    margin-bottom: 45px;
    color: #999999;
    font-size: 16px;

    span {
      display: block;
    }
  }

  .button {
    opacity: 0;
  }

  &--ready {
    opacity: 1;

    .button {
      opacity: 1;
    }
  }
}

.tickets_title {
  font-family: $font-primary;
  font-style: normal;
  font-weight: bold;
  font-size: 37px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: #dd0031;
}

.ticket_card_list {
  display: inline-flex;
  flex-wrap: wrap;
  margin-top: 19px;
  gap: 25px;
  padding-bottom: 80px;

  .ticket_card {
    @include breakpoint-s {
      width: 100%;
    }

    width: 300px;
    height: 549px;
    background: #f5f5f5;
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.12), -3px -5px 11px #ffffff;
    border-radius: 8px;
    padding: 35px 24px;
    font-style: normal;
    font-family: $font-secondary;

    .ticket_card_header {
      height: 200px;
      font-weight: 900;
      font-size: 30px;

      .ticket_card_title {
        font-family: $font-primary;
        line-height: 37px;
        color: #000000;
      }

      .ticket_card_price {
        line-height: 35px;
        color: #dd0031;
      }
    }

    .ticket_card_info {
      margin-top: 19px;
      height: 173px;
      font-weight: normal;
      font-size: 18px;
      line-height: 162.9%;
      color: #272727;
    }

    .ticket_card_button {
      margin-top: 69px;
      width: 100%;
      height: 52px;
      font-size: 20px;
      cursor: pointer;
    }

    .ticket_card_icon {
      vertical-align: middle;
    }
  }
}
