<div class="site-content__wrap">
  <div class="site-content__intro">
    <ngrome-youtube-player-with-covers videoId="8XqmTwuxGd0">
      <div intro-cover class="cover" (click)="play()">
        <h1 class="site-content__intro__title">Last year</h1>
        <img src="./assets/icons/play.svg" class="play-icon">
      </div>
      <div end-cover class="cover">
        <h1 class="site-content__intro__title">NG Rome MMXX</h1>
        <p>
          <a class="button" id="go-to-tickets" (click)="scrollTo('tickets', 300)"
             title="Get Ticket Now">
            <span id="go-to-tickets-text-video">Get Ticket Now</span>
            <svg width="11" height="12" id="go-to-tickets-svg">
              <path fill="none" fill-rule="evenodd" stroke="#0086FF"
                    stroke-width="2" d="M1 1l7.358 5L1 11"/>
            </svg>
          </a>

          <a class="button" (click)="play()"
             title="Replay Video">
            <span id="go-to-tickets-text">Replay Video</span>
            <svg width="11" height="12" id="go-to-tickets-svg">
              <path fill="none" fill-rule="evenodd" stroke="#0086FF"
                    stroke-width="2" d="M1 1l7.358 5L1 11"/>
            </svg>
          </a>
        </p>
      </div>
    </ngrome-youtube-player-with-covers>
  </div>
</div>
