<div class="site-content__wrap">
  <div class="site-content__intro">

    <div class="site-content__intro__info">
      <p>
        Whether you are a beginner, intermediate, or an expert, this will be the
        best opportunity to learn about the <b>latest trends</b> in the Angular
        world and web technologies. <br>
      </p>
        <ul>
          <li>We are back in-person
            <li>400 Attendees</li>
            <li>2 Keynotes, 6 Talks, 3 Lightning talks, and 1 Workshops by Mike Ryan and Brian Love</li>
            <li>Awesome venue for a back in person experience, have a look!</li>
        </ul>


    </div>
  </div>
</div>
