<div class="site-content__wrap">
  <div class="site-content__intro">

    <div class="site-content__intro__info">
      <p>
        Whether you are a beginner, intermediate, or an expert, this will be the
        best opportunity to learn about the <b>latest trends</b> in the Angular
        world and web technologies. A full afternoon of news and tips about
        <b>Angular</b> and the opportunity to participate with interactive
        <b>panels</b> in the conversation. This year we will focus our
        conference as an online experience.
      </p>

<!--      <p>-->
<!--        At the same time, we already started planning <b>NG Rome MMXXI</b> for-->
<!--        <b>April 2021</b>, where we will come back with a full-day-->
<!--        <b>in-person</b> conference in Rome.-->
<!--      </p>-->
    </div>
  </div>
</div>
