@import "../../../scss/variables";
@import "../../../scss/mixin";

.conference-numbers{
  text-align: center;
  padding-right: 20%;
  &--one, &--two, &--three{
    text-align: center;

  }
  &--one, &--two{
    margin: 80px 0;
    img{
      width: 40%;
    }
    p{
      text-align: center;
    }
  }
  &--three{
    margin: 100px 0;
    @include mq("tablet-wide"){
      margin: 200px 0;
    }
    img{
      width: 70%;
      @include mq("tablet-wide"){
        width: 60%;
      }
    }
  }

}

.relative{
  position: relative;
  @include mq("tablet-wide"){
    .text-special{
      position: absolute;
      &.day{
        left: 54%;
        top: 60%;
      }
      &.talks{
        left: 54%;
        top: 92%;
      }
      &.attendees{
        left: 54%;
        top: 86%;
      }

    }
  }
}


