<div class="row middle-xs">
  <div class="col-xs-12">
    <div class="box">
      <h1 class="main-title">
          For the first time ever, the biggest <span class="red">Italian Angular Conference</span>
          is taking place at <span class="red">NG Rome MMXIX</span>
          this year on <span class="red">October 7th</span>
          at the <a href="https://goo.gl/maps/3sL16sX6sVk" target="_blank">Teatro Manzoni</a> in <span class="red">Rome, Italy</span>.
      </h1>
    </div>
  </div>
</div>
