<div class="row middle-xs">
  <div class="col-xs-12">
    <div class="box">
      <h1 class="main-title">
          For the first time ever, the biggest <span class="red">Italian Angular Conference</span>
          is taking place at <span class="red">NG Rome MMXIX</span>
          this year on <span class="red">October 7th</span>
          at the <a href="https://goo.gl/maps/3sL16sX6sVk" target="_blank">Teatro Manzoni</a> in <span class="red">Rome, Italy</span>.
      </h1>
    </div>
  </div>
</div>
<div class="row middle-xs conference-numbers--one" >
  <div class="col-xs-12">
    <div class="box relative">
      <img alt="1 day" src="./assets/images/1day.svg">
      <p class="text-special day">day</p>
    </div>
  </div>
</div>
<div class="row middle-xs conference-numbers--two">
  <div class="col-xs-12">
    <div class="box relative">
        <img alt="16 talks" src="./assets/images/14talks.svg">
        <p class="text-special talks">talks</p>
    </div>
  </div>
</div>
<div class="row middle-xs conference-numbers--three">
  <div class="col-xs-12">
    <div class="box relative">
        <img alt="400 attendees" src="./assets/images/400attendees.svg">
        <p class="text-special attendees">attendees</p>
    </div>
  </div>
</div>
