<section>

    <div class="site-content__wrap">

      <h1 class="site-content__section__title">Hotels.com</h1>


      <div class="content">

          <h1>Terms and condition</h1>

          <p>

            Questo codice è valido per uno sconto del 10% sulla prenotazione di un hotel aderente all’iniziativa Garanzia miglior prezzo per un soggiorno tra le 1 e le 28 notti.
            Il pagamento del soggiorno deve essere effettuato al momento della prenotazione.
            Lo sconto è valido solo per la prima camera della prenotazione.
            Le altre camere incluse nella prenotazione andranno pagate per intero.
            Lo sconto non si applica a tasse, supplementi o costi aggiuntivi.
            Per utilizzare questo codice sconto, devi avere più di 18 anni di età ed essere residente in Italia.
            Per utilizzare questo codice sconto è necessario prenotare tra le 00:01 MT del giorno 22/10/2018 e le 23:59 MT del giorno 31/10/2019 sulla versione italiana di Hotels.com, per soggiorni da completare tra il giorno 22/10/2018 e il giorno 31/12/2019.
            Le prenotazioni sono soggette a disponibilità e ai termini e alle condizioni dell’hotel.
            Questo codice sconto non può essere utilizzato per: prenotazioni di pacchetti (per esempio hotel + volo), prenotazioni effettuate tramite il servizio per viaggi di gruppo, prenotazioni con pagamento in hotel, prenotazioni con pagamento in valuta estera, prenotazioni presso alberghi che non partecipano all’iniziativa, prenotazioni effettuate prima della ricezione del presente codice sconto. Accedi a <a href="http://it.hotels.com/pagina/it-hotel-exclusions/?pos=HCOM_IT&locale=it_IT" target="_blanc" rel="noopener">http://it.hotels.com/pagina/it-hotel-exclusions/?pos=HCOM_IT&locale=it_IT</a> per consultare l’elenco degli hotel che non partecipano all’iniziativa.
            Ci riserviamo il diritto di modificare l’elenco degli hotel che partecipano all’iniziativa in qualsiasi momento. Potrai utilizzare questo codice sconto per un massimo di cinque prenotazioni e usarlo ogni volta per intero. Dopo aver effettuato cinque prenotazioni, non potrai più utilizzare il codice sconto, nemmeno in caso di cancellazione di una o più prenotazioni. Il codice sconto è valido solo per le prime 1000 prenotazioni effettuate con il codice promozionale fornito. Sarà possibile verificare che il codice sia ancora valido prima di portare a termine la prenotazione. È previsto un limite di un codice sconto per prenotazione.

          </p>
      </div>
    </div>
  </section>
