@import '../../../scss/variables/palette', '../../../scss/variables/devices',
  '../../../scss/variables/typeface';

@import '../../../scss/mixins/clearfix', '../../../scss/mixins/antialias',
  '../../../scss/mixins/assistive', '../../../scss/mixins/breakpoint';

.agenda__item {
  display: flex;

  align-items: center;

  justify-content: center;

  margin-top: 10px;

  .agenda__activity,
  .agenda__talk {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
    > * {
      padding: 10px 10px;
      @include breakpoint-m {
        padding: 10px 20px;
      }
    }

    .agenda__duration,
    .agenda_speaker__name {
      font-family: $font-secondary;
      font-size: 12px;
      text-transform: uppercase;
      letter-spacing: 5px;
    }

    .agenda__duration {
      justify-content: flex-end;
    }

    .agenda__time {
      flex: 0 0 100%;
      padding-bottom: 30px;
      max-width: 107px;

      @include breakpoint-m {
        padding-bottom: 0px;
        flex-basis: auto;
        min-width: 100px;
      }
      @include breakpoint-l {
        padding-bottom: 0px;
        flex-basis: auto;
        min-width: 200px;
      }
      font-size: 14px;
      span {
        font-family: $font-secondary;
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 5px;
      }
      .agenda__time-end {
        display: none;
        visibility: hidden;
        @include breakpoint-m {
          display: block;
          visibility: visible;
        }
      }
    }

    .agenda__image {
      flex: 1;
      align-self: center;
      text-align: center;
      img {
        max-width: 100%;
        @include breakpoint-m {
          max-width: 150px;
        }
      }
    }
    .agenda__detail {
      flex: 1;
      padding-bottom: 30px;
      @include breakpoint-m {
        padding-bottom: 0px;
      }

      h1 {
        font-family: $font-primary;
        font-weight: 700;
        font-size: 22px;

        @include breakpoint-m {
          font-size: 32px;
        }
      }
      .read__more {
        display: none;
      }
    }
  }

  .agenda__talk {
    .agenda__image {
      flex: 0 0 100%;
      display: block;
      @include breakpoint-m {
        flex: 1;
      }
    }
    .agenda__duration {
      display: none;
      visibility: hidden;
      color: $ribbon;
      @include breakpoint-m {
        display: block;
        visibility: visible;
      }
    }
    &:nth-child(odd) {
      /*
         Selects the first 3 elements
         applied not to ALL children but
         only to those matching .picture
      */
      border-bottom: 1px solid $grey;
    }
  }

  .agenda__activity {
    background: $ribbon;
    color: $white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 14px;

    .agenda__duration {
      color: $ribbon;
      display: none;
      visibility: hidden;
      @include breakpoint-m {
        display: block;
        visibility: visible;
      }
    }

    .read__more,
    .agenda_speaker__name {
      display: none;
      visibility: hidden;
    }

    .agenda__time {
      padding-bottom: 0px;
      flex: 1;
      .agenda__time-end {
        display: none;
        visibility: hidden;
      }
    }
    .agenda__detail {
      padding-bottom: 0px;
      min-width: 180px;

      h1 {
        font-size: 15px;
        @include breakpoint-m {
          font-size: 18px;
        }
      }
    }

    .agenda__image {
      img {
        max-width: 22px;
        max-height: 22px;
        @include breakpoint-m {
          max-width: 33px;
          max-height: 33px;
        }
      }
    }
  }
}
