@import
  '../../../scss/variables/palette',
  '../../../scss/variables/devices',
  '../../../scss/variables/typeface';

@import
  '../../../scss/mixins/clearfix',
  '../../../scss/mixins/antialias',
  '../../../scss/mixins/assistive',
  '../../../scss/mixins/breakpoint';


.agenda__item {

  display: flex;

  align-items: center;

  justify-content: center;

  margin-top: 10px;



  .agenda__activity,
  .agenda__talk{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    >*{
      padding: 10px 20px;
    }

    .agenda__duration,
    .agenda_speaker__name{
      font-family: $font-secondary;
      font-size: 12px;
      text-transform: uppercase;
      letter-spacing: 5px;
    }

    .agenda__duration{
      justify-content: flex-end;
    }


    .agenda__time{
      flex: 0 0 100%;
      @include breakpoint-m{
        flex-basis: auto;
        min-width: 100px;
      }
      @include breakpoint-l{
        flex-basis: auto;
        min-width: 200px;
      }
      font-size: 14px;
      span{
        font-family: $font-secondary;
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 5px;
      }
    }
    .agenda__image{
      display: none;
      flex-basis: auto;
      min-width: 200px;
      @include breakpoint-m{
       display: block;
      }
      img{
        max-width: 150px;
      }

    }
    .agenda__detail{
      flex:1;

      h1{
        font-family: $font-primary;
        font-weight: 700;
        font-size: 22px;

        @include breakpoint-m {

          font-size: 32px;

        }
      }
      .read__more{
        display: none;
      }
    }

  }

  .agenda__talk{
    .agenda__duration{
      color: $ribbon;
    }
    &:nth-child(odd) {
      /*
         Selects the first 3 elements
         applied not to ALL children but
         only to those matching .picture
      */
      border-bottom: 1px solid $grey;
    }
  }

  .agenda__activity{

    background: $ribbon;
    color: $white;

    .read__more,
    .agenda__duration,
    .agenda__time-end,
    .agenda_speaker__name
    {
      display: none;
      visibility: hidden;
    }
    .agenda__detail{
      h1{
        font-size: 15px;
        @include breakpoint-m {
          font-size: 18px;
        }
      }
    }

    .agenda__image{
      text-align: center;
      img{
        max-width: 33px;
        max-height: 33px;
      }
    }

  }

}
