<section id="intro" class="site-content__section">
  <div class="site-content__wrap">
    <div class="site-content__intro">
      <header class="site-content__intro__head__inner">
        <h1 class="site-content__intro__title">{{ workshop.name }}</h1>
      </header>
      <div class="site-content__intro__info__inner">
        <p>
          Here you can find all the information about the biggest
          <strong>Angular</strong> conference in Rome, venue, accommodation and much more...
        </p>
      </div>
    </div>
  </div>
</section>

<section class="site-content__section">
  <div class="site-content__wrap">
    <h1 class="site-content__section__title">{{ workshop.name }}</h1>
    <span>{{ workshop.start_time }} - {{ workshop.end_time }}</span>
    <span>{{ workshop.location }}</span>

    <div class="workshop__info">
      <img [src]="workshop.image" alt="" />
      <p class="workshop_desc">{{ workshop.description }}</p>
    </div>

    <div [innerHTML]="workshop.fullDescription"></div>
  </div>
</section>

<ngrome-tickets class="site-content__section" id="tickets"></ngrome-tickets>
