<div class="featured">
  <span>Featured Speakers</span>
</div>

<div class="speaker"
  [@bounce]="{ value: rotateIn, params: { timing: myTiming, delay: myDelay } }">
  <img class="left" width="250" src="https://pbs.twimg.com/profile_images/888397702391902208/CupdIngs_400x400.jpg">
  <h1>John Papa</h1>
  <h3>Principal Developer Advocate, Microsoft</h3>
  <span class="description">John Papa is a Principal Developer Advocate with Microsoft and an alumni of the Google Developer Expert, Microsoft Regional Director, and MVP programs. </span>
</div>

<div
  [@bounce]="{ value: rotateIn, params: { timing: myTiming, delay: myDelay } }">
  <img class="right" width="250" src="https://pbs.twimg.com/profile_images/957865024126533632/71tNdug__400x400.jpg">
  <h1>Leonardo Zizzamia</h1>
  <h3>Web Consumer, Coinbase</h3>
  <span class="description">Leonardo is a Google Developer Expert in Web Technologies and Angular. Previously, he lead the internal #ngTwitter cross-team Angular group as a Web engineer at Twitter </span>
</div>

<div
  [@bounce]="{ value: rotateIn, params: { timing: myTiming, delay: myDelay } }">
  <img class="left" width="250" src="https://pbs.twimg.com/profile_images/888397702391902208/CupdIngs_400x400.jpg">
  <h1>John Papa</h1>
  <h3>Principal Developer Advocate, Microsoft</h3>
  <span class="description">John Papa is a Principal Developer Advocate with Microsoft and an alumni of the Google Developer Expert, Microsoft Regional Director, and MVP programs. </span>
</div>

<div
  [@bounce]="{ value: rotateIn, params: { timing: myTiming, delay: myDelay } }">
  <img class="right" width="250" src="https://pbs.twimg.com/profile_images/957865024126533632/71tNdug__400x400.jpg">
  <h1>Leonardo Zizzamia</h1>
  <h3>Web Consumer, Coinbase</h3>
  <span class="description">Leonardo is a Google Developer Expert in Web Technologies and Angular. Previously, he lead the internal #ngTwitter cross-team Angular group as a Web engineer at Twitter </span>
</div>

<div class="speaker"
  [@bounce]="{ value: rotateIn, params: { timing: myTiming, delay: myDelay } }">
  <img class="left" width="250" src="https://pbs.twimg.com/profile_images/888397702391902208/CupdIngs_400x400.jpg">
  <h1>John Papa</h1>
  <h3>Principal Developer Advocate, Microsoft</h3>
  <span class="description">John Papa is a Principal Developer Advocate with Microsoft and an alumni of the Google Developer Expert, Microsoft Regional Director, and MVP programs. </span>
</div>

<div
  [@bounce]="{ value: rotateIn, params: { timing: myTiming, delay: myDelay } }">
  <img class="right" width="250" src="https://pbs.twimg.com/profile_images/957865024126533632/71tNdug__400x400.jpg">
  <h1>Leonardo Zizzamia</h1>
  <h3>Web Consumer, Coinbase</h3>
  <span class="description">Leonardo is a Google Developer Expert in Web Technologies and Angular. Previously, he lead the internal #ngTwitter cross-team Angular group as a Web engineer at Twitter </span>
</div>

<div
  [@bounce]="{ value: rotateIn, params: { timing: myTiming, delay: myDelay } }">
  <img class="left" width="250" src="https://pbs.twimg.com/profile_images/888397702391902208/CupdIngs_400x400.jpg">
  <h1>John Papa</h1>
  <h3>Principal Developer Advocate, Microsoft</h3>
  <span class="description">John Papa is a Principal Developer Advocate with Microsoft and an alumni of the Google Developer Expert, Microsoft Regional Director, and MVP programs. </span>
</div>

<div
  [@bounce]="{ value: rotateIn, params: { timing: myTiming, delay: myDelay } }">
  <img class="right" width="250" src="https://pbs.twimg.com/profile_images/957865024126533632/71tNdug__400x400.jpg">
  <h1>Leonardo Zizzamia</h1>
  <h3>Web Consumer, Coinbase</h3>
  <span class="description">Leonardo is a Google Developer Expert in Web Technologies and Angular. Previously, he lead the internal #ngTwitter cross-team Angular group as a Web engineer at Twitter </span>
</div>

