/**
Typografy Variables
the media queries is based to the breakpoints defined in _variables.scss
*/
$typi: (
  base: (
    null: (16px, 1.4),
    phone: (18px),
    tablet-wide: (20px)
  ),
  // Other font maps here
  // base font-map,
  h1special: (
    null: (34px, 1.3),
    phone: (1.869em, 1.2),
    tablet-wide: (2.369em, 1.2),
  ),
  h1: (
    null: (34px, 1.3),
    phone: (2.5em, 1.2),
    tablet-wide: (2em, 1.2),
  ),
  h2: (
    null: (34px, 1.3),
    phone: (2em, 1.2),
    tablet-wide: (1.6em, 1.2),
  ),
  h3: (
    null: (24px, 1.3),
    phone: (1.1em, 1.2),
    tablet-wide: (1.2em, 1.2),
  )
);

h1{
  @include typi('h1');
}
h2{
  @include typi('h2');
}
h3{
  @include typi('h3');
}
