$main-color: #EE0C3E;
$main-font: #000000;
$secondary-font: #B4B4B4;
$bg: #ffffff;
$white: #ffffff;
$secondary: #0086ff;


/**
Media Query Breakpoints
*/
$breakpoints: (
  "phone":        400px,
  "phone-wide":   480px,
  "phablet":      560px,
  "tablet-small": 640px,
  "tablet":       768px,
  "tablet-wide":  1024px,
  "desktop":      1248px,
  "desktop-wide": 1440px
);


