@import '../../../scss/variables/typeface', '../../../scss/variables/devices';
@import '../../../scss/mixins/breakpoint', '../../../scss/variables/palette';


.sponsor-container {
  background-color: $background;
}

.sponsors-section__header {

  width: 100%;
  height: 72px;
  border-radius: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  @include breakpoint-s {
    height: 60px;
  }

  .sponsors-section__title {
    font-family: $font-primary;
    font-style: normal;
    font-weight: bold;
    font-size: 37px;
    line-height: 148.6%;
    letter-spacing: 0.07em;
    text-transform: uppercase;

    @include breakpoint-s {
      font-size: 20px;
    }
  }
}

.sponsors-section__list {
  margin-top: 40px;
  display: flex;
  flex-flow: wrap;
  align-content: space-between;
  justify-content: center;
  padding-bottom: 120px;

  @include breakpoint-s {
    padding-bottom: 80px;
  }
  .two-items-row {
    @include breakpoint-l {
      width: 450px !important;
    }
  }

  .sponsors-section__item {
    width: 300px;
    margin: 15px;

    img {
      display: block;
      margin: 0 auto;
      max-width: 100%;
      height: 233px;
      width: auto;
    }

    span {
      display: block;
      position: relative;
      text-align: center;
    }

    &.community-partner{
      width: 150px;
      display: flex;
      justify-content: center;
      align-items: center;

      img{
        height: auto;
        width: 100%;
      }
    }

  }
}
