// ------------------------------
// 🔥 Angular Rome Palette Vars
// ------------------------------

$white: #ffffff;

$black: #525252;

$grey: #f7f7f7;

$green: #00ae65;

$background: #fefefe;

$ribbon: #DD0031;

$radiance: #0086ff;
