// ------------------------------
// 🔥 Angular Rome Palette Vars
// ------------------------------

$white: #ffffff;

$black: #000000;

$grey: #f7f7f7;

$green: #00ae65;

$background: #fefefe;

$ribbon: #ee0c3e;

$radiance: #0086ff;
