<!-- main title -->
<ngrome-main-title class="site-content__section"></ngrome-main-title>

<!-- speakers list / agenda -->
<ngrome-speakers class="site-content__section"></ngrome-speakers>

<ngrome-tickets></ngrome-tickets>

<!-- call for papers -->
<ngrome-call-for-paper class="site-content__section site-content__section--full"></ngrome-call-for-paper>

<!-- sponsors -->
<ngrome-sponsors class="site-content__section"></ngrome-sponsors>

<!-- community partners -->
<ngrome-partners class="site-content__section"></ngrome-partners>

