@import "../../../../scss/variables/_palette.scss";
@import "../../../../scss/variables/_devices";
@import "../../../../scss/variables/typeface";

@import "../../../../scss/mixins/breakpoint";

section {
  margin-top: 40px;
}
img {
  max-width: 106px;
}

/* Timeline */
$line: 3px;
$spacing: 23px;
$spacing-date: 13px;
$radius: 10px;
$date: 100px;
$dot: 10px;
$dotborder: 4px;

.timeline {

  &--container{
    display: flex;
    justify-content: flex-end;
    height: 530px;
    overflow-y: scroll;
    margin-bottom: 30px;
    @include breakpoint-m {
      justify-content:center;
    }

  }
  .list{
    width: 70%;

  }

  border-left: $line dotted $ribbon;
  border-bottom-right-radius: $radius;
  border-top-right-radius: $radius;
  background: fade($grey, 3%);
  color: fade($black, 80%);
  margin: $spacing auto;
  letter-spacing: 0.5px;
  position: relative;
  line-height: 1.2em;
  font-size: 0.8em;
  padding: $spacing;
  list-style: none;
  text-align: left;
  font-weight: 100;
  max-width: 100%;

  h1,
  h2,
  h3 {
    letter-spacing: 1.5px;
    font-weight: 100;
    font-size: 0.9em;
    @include breakpoint-m {
      font-size: 1.1em;
    }
    @include breakpoint-m {
      font-size: 1.4em;
    }
  }

  .event {
    border-bottom: 1px dashed fade($grey, 10%);
    padding-bottom: ($spacing * 0.5);
    margin-bottom: $spacing;
    position: relative;

    &:last-of-type {
      padding-bottom: 0;
      margin-bottom: 0;
      border: none;
    }

    &:before,
    &:after {
      position: absolute;
      display: block;
      top: 0;
    }

    &:before {
      background: $ribbon;
      left: ((($date * 0.6) + $spacing + $line + $dot + ($dotborder)) * 1.4) * -1;
      color: $white;
      content: attr(data-date);
      text-align: right;
      font-weight: 600;
      font-size: 1em;
      width: $date;
      border-radius: 10px;
      padding: $spacing-date;
      margin-top: -12px;
    }

    &:after {
      box-shadow: 0 0 0 $dotborder fade($ribbon, 100%);
      left: ($spacing + $line + ($dot * 0.35)) * -1;
      background: lighten($ribbon, 0%);
      border-radius: 50%;
      height: $dot;
      width: $dot;
      content: "";
      top: 6px;
    }
  }
}

