<div class="featured">
  <p class="labelBig">MMXIX</p>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
      <div class="box">
          <img alt="logo NGRome" src="./assets/logo/logo-red.svg">
      </div>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-7">
    <div class="box">
        <p>Copyright 2019 © Skaffolder Srl - All Rights Reserved. </p>
        <p>
          <a (click)="openModal('ngrome-terms')">Terms</a>
          <!--| <a [routerLink]="'/code-of-conduct'">Code Of Conduct</a -->
        </p>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 social">
    <div class="box">
      <div class="row around-xs">
        <!--div class="col-xs-4">
          <div class="box"><img src="./assets/icons/facebook.svg"></div>
        </div -->
        <div class="col-xs-4">
          <div class="box"><a href="https://twitter.com/ngromeconf" target="_blank"><img alt="Twitter logo" src="./assets/icons/twitter.svg"></a></div>
        </div>
        <!-- div class="col-xs-4">
          <div class="box"><img src="./assets/icons/youtube.svg"></div>
        </div -->
      </div>
    </div>
  </div>
</div>
<ngrome-modal id="ngrome-terms">
  <input type="image" width="20" src="./assets/icons/error.svg" class="close" (click)="closeModal('ngrome-terms');">
  <ngrome-terms></ngrome-terms>
</ngrome-modal>

<ngrome-modal id="ticket">
  <input type="image" width="20" src="./assets/icons/error.svg" class="close" (click)="closeModal('ticket');">
  <ngrome-ticket-modal></ngrome-ticket-modal>
</ngrome-modal>

