<div class="featured">
  <p class="labelBig">MMXIX</p>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
      <div class="box">
          <img src="./assets/logo/logo-red.svg">
      </div>
  </div>
  <div class="col-xs-12 col-sm-7 col-md-8 col-lg-8">
    <div class="box">
        <p>Copyright 2019 © Skaffolder Srl - All Rights Reserved. </p>
    </div>
  </div>
  <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
    <div class="row">
      <div class="col-xs-4"><img src="./assets/icons/facebook.svg"></div>
      <div class="col-xs-4"><img src="./assets/icons/twitter.svg"></div>
      <div class="col-xs-4"><img src="./assets/icons/youtube.svg"></div>
    </div>
  </div>
</div>
