<section class="site-content__section">
  <div class="site-content__wrap">
    <h1 class="site-content__section__title">Featured Speakers</h1>

    <div class="speakers__list">
      <ngrome-speaker-bio
        class="speaker"
        *ngFor="let speaker of speakerService.getSpeakers(); let isOdd = odd"
        [speaker]="speaker"
        [isOdd]="isOdd"
      >
      </ngrome-speaker-bio>
    </div>

    <aside class="speakers__list__more" role="complementary">
      <h1>More Speaker TBA</h1>

      <p>
        We announce more speaker in the next weeks. <br>Stay tuned!
      </p>
    </aside>
  </div>
</section>
