<section>

  <div class="site-content__wrap">

    <h1 class="site-content__section__title">Terms</h1>


    <div class="content">

    <article>
      <h3>ANTI-HARASSMENT</h3>
      Harassment includes, but is not limited to:

      Verbal comments that reinforce social structures of domination related to gender, gender identity and expression, sexual orientation, disability, physical appearance, body size, race, age, religion
      Sexual images in public spaces
      Deliberate intimidation, stalking, or following
      Harassing photography or recording
      Sustained disruption of talks or other events
      Inappropriate physical contact
      Invasion of personal space
      Unwelcome sexual attention
      Advocating for, or encouraging, any of the above behaviour
    </article>


    <article>
      <h3>ENFORCEMENT</h3>
      Participants asked to stop any harassing behavior are expected to comply immediately.

      If a participant engages in harassing behaviour, event organisers retain the right to take any actions to keep the event a welcoming environment for all participants. This includes warning the offender or expulsion from the conference with no refund.

      Event organisers may take action to address anything designed to, or with the clear impact of, disrupting the event or making the environment hostile for any participants. We expect participants to follow these rules at all event venues and event-related social activities. We think people should follow these rules outside event activities too!
    </article>

    <article>

      <h3>INCLUSIVE LANGUAGE</h3>
      In our commitment to a harassment-free and inclusive environment we strongly believe it’s important to pay attention to harmful language patterns.

      <h4>Ableism</h4>
      Words like “crazy”, “dumb”, “insane” or “lame” are examples of ableist language, devaluating people who have physical or mental disabilities. Its appearance often stems not from any intentional desire to offend, but from our innate sense of what it means to be normal. These words can be avoided by using more fitting, clearer descriptions of what we want to communicate.

      To find out more about ableism and replacement terms please read this guide.

      <h4>Sexism</h4>
      Using gendered terms like “dude” or “guys” to address a mixed-gendered group of people contributes to furthering exclusion of underrepresented individuals. We strongly advise avoiding gendered pronouns as well as gendered terms.

    </article>

  </div>
  </div>

</section>
